body {
  font-family: tahoma, arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  width: 85%;
  margin: 30px auto;
}

.main-header-top {
  height: 50px;
  background: #162028;
  display: flex;
  justify-content: space-between;
}

.logoTipo {
  margin: 8px 0 0 120px;
}

.imagemTopo {
  width: 100%;
}

.main-header-top-nav {
  top: 0;
  right: 0;
  background: #162028;
  height: 100%;
}

.main-header-top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.main-header-top-nav li {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 15px 20px 0 0;
}

.main-header-top-nav a {
  color: #bac6d1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

.portfolio {
  padding: 50px 100px;
  text-align: center;
}

.portfolio h1 {
  font-size: 36px;
  color: #252525;
}

.portfolio p {
  line-height: 30px;
  color: #555;
}

.gallery {
  color: #555;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: bold;
}

.about {
  margin-top: 50px;
  background-color: #003d52;
  padding: 30px 80px 50px;
  color: rgb(191, 206, 219);
  background-image: url(../imagens/bg_detalhe.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
  width: 70%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 55px;
}

#contact address {
  font-size: 26px;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #003d52;
}

.maps {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#footer {
  background: #00141b;
  padding: 15px;
  color: white;
  text-align: center;
}
